In [1]:
import pandas as pd
import re


budget_categories = "Category Report To Date.csv"

df = pd.read_csv("Category Report To Date.csv")

df

,Date,Chk #,Transaction Payee (Income),Note,Memo,Category,Account,Amount
0,FirstTech:Check Deposit (Begin),NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/11/23,NaN,Shared Branch Mobile Deposit,NaN,NaN,FirstTech:Check Deposit,Mary Checking,$480.00
2,FirstTech:Check Deposit Total,NaN,NaN,NaN,NaN,NaN,NaN,$480.00
3,FirstTech:Interest Income (Begin),NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/31/23,NaN,Credit Dividend,NaN,NaN,FirstTech:Interest Income,John Instant Access,$0.01
...,...,...,...,...,...,...,...,...
253,3/1/23,NaN,TOWNHOME VILLAGE FIRST TECH FCU,NaN,NaN,Wilshire:HOA AutoPay,New John Checking,-$587.10
254,Wilshire:HOA AutoPay Total,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,342.94"
255,Wilshire:Taxes (Begin),NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,2/6/23,NaN,WASHINGTON COUNT FIRST TECH FCU,NaN,NaN,Wilshire:Taxes,New John Checking,"-$1,167.25"
257,Wilshire:Taxes Total,NaN,NaN,NaN,NaN,NaN,NaN,"-$1,167.25"